@model TongJi.Web.Flow.FlowInstance
@using TongJi.Web.Forms
@{
    ViewBag.Title = "SetCurrentNode";

    Dictionary<string, string> nodes = ViewBag.nodes;
}

<h2>设置项目流程当前状态 - @Model.Name </h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>选择当前状态</legend>

        @Html.HiddenFor(model => model.ID)

        <div>
            @Html.DropDownList("nodeId", FormManager.SelectList(nodes, Model.CurrentNodeID.ToString().ToUpper()))

        </div>

        <p>
            <input type="submit" value="保存状态" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("返回项目流程列表", "FlowInstanceList")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}