@{
    Layout = "../_Layout.cshtml";

    var username = "";
    var password = "";

    if (IsPost)
    {
        username = Request["username"];
        password = Request["password"];
        var rememberMe = Request["rememberMe"].AsBool();

        // Validation
        if (username.IsEmpty())
        {
            ModelState.AddError("username", "Username cannot be blank.");
        }
        if (password.IsEmpty())
        {
            ModelState.AddError("password", "Password cannot be blank.");
        }

        // Attempt login
        if (ModelState.IsValid)
        {
            if (WebSecurity.Login(username, password, rememberMe))
            {
                if (!string.IsNullOrEmpty(Request.QueryString["return"]))
                {
                    Response.Redirect(Request.QueryString["return"]);
                }
                else
                {
                    Response.Redirect("default");
                }
            }
            else
            {
                ModelState.AddFormError("Unable to log in.");
            }
        }
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <style>
        .validation-summary-errors, span.field-validation-error
        {
            color: #FF0000;
        }
        input.field-validation-error
        {
            border: 1px solid #FF0000;
            background-color: #FFCCCC;
        }
    </style>
</head>
<body>
    <h1>
        Login</h1>
    @Html.ValidationSummary(true)
    <form action="login" method="post">
    <div>
        @Html.Label("Username: ", "username")<br />
        @Html.TextBox("username", username)
        @Html.ValidationMessage("username")
    </div>
    <div>
        @Html.Label("Password: ", "password")<br />
        @Html.Password("password")
        @Html.ValidationMessage("password")
    </div>
    <div>
        @Html.CheckBox("rememberMe", new { value = "true" })
        @Html.Label("Remember me on this computer?", "rememberMe")
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
    </form>
</body>
</html>
