<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/favicon.ico">

    <title>@ViewData["Title"]</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="~/css/blog.css">
    @RenderSection("Styles", required: false)

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item active" href="/" nav-to="home">Home</a>
                <a class="blog-nav-item" href="/about" nav-to="about">About</a>
            </nav>
        </div>
    </div>

    <div class="container">

        <div class="blog-header">
            <h1 class="blog-title">@ViewData["Title"]</h1>
            <p class="lead blog-description">The basic UI to test the backend.</p>
        </div>

        <div class="row">

            <div class="col-sm-8 blog-main">

                <div id="main-view" class="blog-post">

                    @RenderBody()

                </div><!-- /.blog-post -->

            </div><!-- /.blog-main -->

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                    <h4>Instructions</h4>
                    <p>
                        This is a simple SPA (single page application) to show your pages.
                        Put your pages (xyz.html) under <code>/public/pages</code> folder and access it through
                        <code>localhost/xyz</code>.
                    </p>
                </div>
                <div class="sidebar-module">
                    <h4>Page List</h4>
                    <ol class="list-unstyled">
                        <li><a href="/signup" nav-to="signup">Sign up</a></li>
                        <li><a href="/404" nav-to="404">404</a></li>
                        <li><a href="/avatar" nav-to="avatar">Profile Image</a></li>
                        <li><a href="/s3" nav-to="s3">S3 Test</a></li>
                        <li><a href="/documentUpload" nav-to="documentUpload">DocumentUpload</a></li>
                        <li><a href="/login" nav-to="login">Login</a></li>
                        <li><a href="/captcha" nav-to="captcha">Captcha</a></li>
                    </ol>
                </div>
            </div><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
        <p>2019 Yang Wang</p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//oss.maxcdn.com/jquery.form/3.50/jquery.form.min.js"></script>
    <!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

    @RenderSection("Scripts", required: false)

</body>
</html>
